@model ExampleCheck.Order

@{
    ViewData["Title"] = "Створити";
}

<h1>Створити</h1>

<h4>Угода</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PairId" class="control-label"></label>
                <select asp-for="PairId" class ="form-control" asp-items="ViewBag.PairId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchange" class="control-label"></label>
                <select asp-for="Exchange" class ="form-control" asp-items="ViewBag.Exchange"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MainIndex">Повернутись назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
